@import '../../../common/components/CategoryDropdown/CategoryDropdown.scss';

.edit-channel-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin: 20px auto;
  width: 80%;
}
