.ui.accordion {
  margin-bottom: 1em;

  .content {
    overflow: visible;
  }
}

.ui.ribbon.label.form-ribbon {
  margin-bottom: 5px !important;
}

.editor-class {
  border: solid 1px #e0e0e0;
  padding-left: 10px;
  padding-right: 10px;
  height: 300px;
}

.ui.floating.label.draft-label {
  margin: 0 0 0 -8em !important;
}

.ui.dropdown:not(.button) > .default.text {
  color: black;
}

.ui.inline.dropdown > .text {
  font-weight: normal;
}
