.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow {
  &.top:after,
  &.bottom:after {
    font-family: Dropdown;
    content: '\f0d7';
    color: #3c3c3c;
    position: absolute;
    line-height: 1.21428571em;
    top: 0.78571429em;
    right: 1.2em;
    opacity: 0.8;
    font-size: 0.85714286em;
    cursor: pointer;
  }
}

.react-dropdown-tree-select .dropdown-trigger input {
  font-family: sans-serif !important;

  &:hover {
    border-color: rgba(34, 36, 38, 0.35);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.CategorySegment {
  height: 2.75rem;
  margin-bottom: unset;
  position: relative;
  width: 100%;

  .tag-item {
    margin: -1rem 0 0 -2.85rem;
  }

  .tag-list {
    height: 1rem;
  }

  .CategoryLabelSegment {
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    height: 100%;
  }

  .CategoryLabel {
    background: transparent !important;
    width: 100%;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    height: 100%;
    font-size: 1rem;
    display: flex;

    div {
      width: calc(100% - 0.75em);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-self: center;
    }

    i {
      margin: auto !important;
    }
  }

  .CategorySelectedLabel {
    border: unset !important;
    margin: 0.2rem -0.4rem -0.2rem 0;
    font-size: 1rem;
    background: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
  }

  .CategorySelector {
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 100%;
  }

  .CategorySelector .toggle {
    font: normal normal normal 18px/1 'Material Icons';
    cursor: pointer;
    @-moz-document url-prefix() {
      vertical-align: text-bottom;
    }

    &.collapsed::after,
    &.expanded::after {
      vertical-align: middle;
      padding: 0 5px;
    }

    &.collapsed::after {
      content: '\E5DF';
    }

    &.expanded::after {
      content: '\E5C5';
    }
  }

  .disabled input {
    display: none;
  }

  [type='radio'] {
    vertical-align: text-top;
    cursor: pointer;
    opacity: 20%;
    width: 15px;
    height: 15px;
    margin-left: 0.5em;
  }

  .node {
    display: flex;
    line-height: 2.6rem;

    label {
      flex-grow: 1;
      white-space: nowrap;
    }
  }

  .node.disabled label {
    color: rgba(0, 0, 0, 0.5);
  }

  .node:not(.disabled) label:hover {
    background-color: rgb(246, 246, 246);
    cursor: pointer;
  }

  .node-label {
    margin-left: 0.5rem;
  }

  .checkbox-item {
    display: none;
  }

  ul {
    list-style: none !important;
  }

  .dropdown-content {
    display: grid;
    margin-top: 1.7rem;
    overflow: auto;
    max-height: 20rem;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);

    .root {
      margin-bottom: 0;
    }

    .infinite-scroll-component {
      margin-left: -2.8rem;
      margin-top: -1rem;
    }

    .no-matches {
      font-weight: bold;
      padding: 1rem 0 1rem 1rem;
    }
  }
}
