@import '../../../common/styles/colors.scss';

.ui.items .notification-component .content {
  .description img {
    max-width: 100%;
    object-fit: scale-down;
    height: auto !important;
  }

  .description {
    border-top: 1px solid $separator-lightgrey;
    padding-top: 15px;
  }

  .header {
    display: flex;
  }
}
