.ui.button {
  &.tertiary {
    &:not(:hover) {
      box-shadow: none !important;
      background: none !important;
    }
  }
}

.ui.button {
  &.tertiarynohover {
    box-shadow: none !important;
    background: none !important;
    padding-left: 0px;
  }
}

.ui.button {
  &.tertiarynohover:hover {
    text-decoration: underline;
  }
}

.ui.dimmer .ui.loader::before {
  border-color: rgba(1, 1, 1, 0.7);
}

.ui.dimmer .ui.loader {
  color: rgba(1, 1, 1, 0.7);
  padding-bottom: 3rem;
}

.targets-loader-div {
  margin-top: 5rem;
}

.ui.fluid.accordion {
  margin-bottom: 0;
}

.ui.accordion.title {
  padding: 0;
}

.ui.modal > .actions.modal-actions-targets {
  padding: 0;
  padding-left: 1rem;
}
