.flex-container {
  display: flex;
}
.navbar {
  color: #fff;
  background-color: rgba(30, 30, 30, 0.95);
  width: 256px;
  min-width: 256px;
  max-width: 256px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
  z-index: 10;
}
.flex-item {
  flex: 1;
}
.full-height {
  height: 100vh;
}
.flex-column {
  flex-direction: column;
}

.content {
  overflow: hidden;
}
