@import '../../../common/styles/colors.scss';

.ui.feed .event {
  .label {
    margin-top: 20px;
  }

  .content .date {
    margin: 0 0 -10px 0;
    font-size: 0.8em;
  }

  .content .extra {
    margin: 0;
  }

  .content .extra.text {
    font-size: smaller;
  }
}

.ui.feed .sep {
  border-bottom: 1px solid $separator-lightgrey;
}

.ui.items {
  .notification-list,
  .notification-scheduled-list {
    overflow-wrap: break-word;
    .content {
      width: 40% !important;
      .header {
        display: inline-flex;
        .button {
          font-size: large;
          margin-top: -10px;
          text-align: left;
        }
        .icon {
          color: #ccc;
          margin-top: 0.25rem;
        }
      }

      .description {
        margin-top: -6px !important;
      }

      .extra {
        margin-top: -2px;
        font-size: small;
      }
    }
  }
}

.ui.items .notification-scheduled-list {
  .content,
  .image {
    //opacity: 70%;
  }
}

.notification-scheduled-list {
  .ui.inverted.dimmer {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    z-index: auto;
  }
}

.ui.container.notification-scheduled-list {
  padding-top: 0.5em;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.relaxed.divided.items > .item.notification-scheduled-list {
  padding: 0.5em 0 0 0;
  margin-bottom: 1.5em;
}

.ui.divided.items > .container.notification-scheduled-list:first-child {
  border-top: none;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
