@import '../../common/styles/colors.scss';

.ui {
  .modal.add-preferences-modal .content {
    overflow: visible;
  }

  .form {
    .add-preferences {
      &-time {
        text-align: center;

        input {
          width: 70px !important;
        }
      }

      &-feed-frequency {
        > label {
          margin-right: 8px;
        }

        .ui.inline.dropdown > .text {
          font-weight: normal;
          margin-right: 8px;
        }
      }
    }
  }
}
