@font-face {
  font-family: 'additional-icons';
  src: url('/images/mattermosticons.woff') format('woff');
}

i.icon.mattermost-icon {
  font-family: additional-icons;
}
i.icon.mattermost-icon:before {
  content: '\e800';
}

i.icon.browser-icon {
  font-family: additional-icons;
}
i.icon.browser-icon:before {
  content: '\e806';
}
