.channel-list {
  &.ui.basic.segment {
    padding: 0;
  }

  .ui.fixed.table th {
    overflow: visible;
  }
}

.ui.list {
  &--flex {
    color: grey;
    display: flex;
    flex-direction: column;
  }
}
