$primary: #2185d0;
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-input-placeholder,
input::placeholder,
.ui.dropdown:not(.button) > .default.text {
  color: rgba(191, 191, 191, 0.87);
}

body:not(.is-mobile) ::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
  border-radius: 24px;
}

body:not(.is-mobile) ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
}

.ui.divider {
  border-color: $primary !important;
}

.ui.message > .icons {
  margin-right: 0.6em;
}

i.icons .clock.corner.icon {
  font-size: 0.55em;
  bottom: -0.15em;
  right: -0.15em;
}
