.notifications-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 933px;

  button.mini {
    height: 36px;
    margin-top: 1px;
  }

  .report-dropdown {
    .ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
      //margin: 0;
    }

    .ui.top.right.pointing.dropdown > .menu {
      margin: 1em 0.8em;
    }
  }

  .ui.label {
    &--info {
      color: #276f86;
      background-color: #e0f0f3;
    }
  }
}

.channel-description {
  white-space: pre-wrap;
}
