.all-channels-page {
  @media only screen and (max-width: 1279px) {
    width: 100% !important;
  }

  .channel-filters {
    &.ui.form {
      max-width: none;

      .field {
        margin: 0;
      }
    }
  }
}
